<div id='signin'>
  <h1>Sign-In</h1>
  <form name="signinForm" novalidate ng-submit='signinForm.$valid && signin()'>
    <div class="form-group">
      <input class="form-control" type='text' ng-model='user.username' required placeholder="Enter email">
      <input class="form-control" type="password" ng-model='user.password' required placeholder="Enter password">
      <button class="btn btn-primary" ng-show="signinForm.$valid">Sign In</button>
    </div>
  </form>
  <a href="#/signup">Don't have an account? <strong>Sign Up</strong> ...</a>
</div>
